@charset "UTF-8";

/* 共通部分
-----------------------------------------*/
html {
    font-size: 100%;
}

body {
    font-family: 'Lato', 'Raleway', sans-serif;
    line-height: 1.7;
    color: #333333;
}

.todayDate {
    h1 {
        background-color: rgba(0, 156, 162, 0.8);
        font-size: 50px;
        padding: 10rem;
        text-align: center;
        border-radius: 0 0 30px 30px;
    }
}

.task {
    font-size: 20px;
    text-align: center;
    width: 60rem;
    margin-top: 8rem;
    height: 80rem;

    div {
        margin: 3rem;
        padding: 6rem;
        background-color: rgba(0, 156, 162, 0.2);
        border-radius: 30px;
    }

    hr {
        border-width: 2px 0px 0px 0px;
        border-style: solid;
        border-color: rgba(0, 156, 162);
        height: 5px;
    }
}


// img {
//     width: 10rem;
//     background-color: rgba(0, 156, 162, 0.3);
//     padding: 2rem;
//     border-radius: 90px;
//     position: fixed;
//     right: 2rem;
//     bottom: 2rem;
// }

/* opacityなし、シャドウつける。ボーダーを使う、padding。 */